:root {
  --primary-color: #FF5C85;
  --secondary-color: #b8f0c0;
  --black-color: #000;
  --lightPink: #ffe6f4;
  --pink: #ff49b0;
  --mediumPink: #ffcde4;
  --darkPink: #d90498;
  --orange: #fc802d;
  --lightYellow: #fffbf4;
  --mediumYellow: #fff1c7;
  --yellow: #ffef00;
  --green: #32d5c0;
  --blue: #AF251C;
  --mediumblue: #0793c1;
  --darkBlue: #072c71;
  --lightGray: #989898;
  --gray: #4a4a4a;
  --white: #fff;
  --m-lightBlue: #0062C2;
  --m-blue: #01669e;
  --m-mediumBlue: #4e5358;
  --m-darkBlue: #013564;
  --m-veryDarkBlue: #001f33;
  --m-gray: #717d89;
  --m-lightGray: #f1f1f1;
  --m-mediumGray: #a8a8a8;
  --m-darkGray: #4a4a4a;

  --animate-duration: 1.5s;
  --animate-delay: ;
  --animate-repeat: 1;
}
